{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/principal.css' %}">
{% endblock css %}

{% block titulo %}
Stock Management - Change PASS
{% endblock titulo %}

{% block body %}

<form method="post">
    {% csrf_token %}


        {{form_senha.old_password.errors}}
        <label>Old password: </label>
        {{form_senha.old_password}}

>
        {{form_senha.new_password1.errors}}
        <label>New password: </label>
        {{form_senha.new_password1}}



        {{form_senha.new_password2.errors}}
        <label>password confirmation: </label>
        {{form_senha.new_password2}}


        <input type="submit" value="Change" class="btn btn-primary">

</form>

{% endblock body %}
